.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.svgStyle {
  width: 16px;
  height: 21px;
}

.centerContainer {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.cardInfo, .cardResponse {
  border: 1px solid #000000;
  box-shadow: 0 0 10px 0 #000000;
  text-align: center;
  width: 30%;
}

.cardHours {
  display: flow-root;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px;
}

.hourInput {
  width: 50%;
  margin: 5%;
}


.pStyled {
  font-family: 'Mochiy Pop One', sans-serif;
  color: #000000;
  margin: 0;
}

.startButton {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}